In [28]:
fruits = ["banana", "apple", "mango", "orange"]

In [29]:
print(fruits)

['banana', 'apple', 'mango', 'orange']

In [30]:
print(fruits[2])

mango

In [31]:

fruits[0] = "potato"
print(fruits)

['potato', 'apple', 'mango', 'orange']

In [32]:
fruits.insert(1,"carrot")
print(fruits)

['potato', 'carrot', 'apple', 'mango', 'orange']

In [33]:
fruits.pop()
print(fruits)

['potato', 'carrot', 'apple', 'mango']

In [34]:
fruits.remove("carrot")
print(fruits)

['potato', 'apple', 'mango']

In [35]:
fruits.append("banana")
print(fruits)

['potato', 'apple', 'mango', 'banana']

In [36]:

if("banana" in fruits):
    print("yes")
else:
    print("no")

yes

In [37]:
num = [3,5,7,4,22,45,65,11,23,45,67,89,90,100,21,34,56,78]
print(num)

[3, 5, 7, 4, 22, 45, 65, 11, 23, 45, 67, 89, 90, 100, 21, 34, 56, 78]

In [38]:
num.sort()
print(num)

[3, 4, 5, 7, 11, 21, 22, 23, 34, 45, 45, 56, 65, 67, 78, 89, 90, 100]

In [39]:
fruits.sort()
print(fruits)

['apple', 'banana', 'mango', 'potato']

In [40]:
fruit = ("banana", "apple", "mango", "orange")
print(fruit)

('banana', 'apple', 'mango', 'orange')

In [41]:
vege = ("potato", "carrot", "onion", "tomato")
print(vege)

('potato', 'carrot', 'onion', 'tomato')

In [42]:
tuple = fruit + vege

In [43]:
print(tuple)

('banana', 'apple', 'mango', 'orange', 'potato', 'carrot', 'onion', 'tomato')

In [44]:
tuple1 = ["apple","apple",'apple','apple']
print(tuple1)

['apple', 'apple', 'apple', 'apple']

In [45]:
tuple2 = (2,3,4,2,3,4,5,3,2)
print(tuple2)

(2, 3, 4, 2, 3, 4, 5, 3, 2)

In [46]:
print(tuple1.count("apple"))

4

In [47]:
print(tuple2.count(2))

3

In [48]:
print(tuple2.count(5))

1

In [49]:
d = "aryacollege"
print(d[:5])
print(d[3:7])

aryac
acol

In [50]:
print(d[0:13:2])

ayclee

In [51]:
# Creating a dictionary
student = {
    "name": "kalpesh",
    "age": 20,
    "college": "aryacollege",
    "class": "B.Tech"

}

print(student)

{'name': 'kalpesh', 'age': 20, 'college': 'aryacollege', 'class': 'B.Tech'}

In [52]:
print(student["name"])

kalpesh

In [53]:
print(student.get("age"))

20

In [54]:
student["age"] = 21
print(student)

{'name': 'kalpesh', 'age': 21, 'college': 'aryacollege', 'class': 'B.Tech'}